/* _________________________________________________

320 and Up boilerplate extension
Andy Clarke http://about.me/malarkey
Version: 2
URL: http://stuffandnonsense.co.uk/projects/320andup/
License: http://creativecommons.org/licenses/MIT/
_____________________________________________________

1 ROOT
2 HEADINGS
3 TYPOGRAPHY
4 LINKS
5 FIGURES & IMAGES
6 TABLES
7 FORMS
8 BANNER
9 NAVIGATION
10 CONTENT
11 MAIN
12 COMPLEMENTARY
13 CONTENTINFO
14 GLOBAL OBJECTS
15 VENDOR-SPECIFIC 
16 MODERNIZR
17 TEMPLATE SPECIFICS

COLOURS 

*/

@import "compass";

h1 {
	font: 32px/38px 'BonvenoCFLight', Arial, sans-serif;letter-spacing: 0;
}

section{
	header {
		h1, h2, h4 {
			width: 460px;
		}
	}
	nav {
		width: 400px;
		ul {
			width: 400px;
		}
	}
	article {
		width: 420px;
		div.content {

		}
		div.entryMeta {
			p, a {
				font-size: 11px !important;
				margin: 0px;
			}
			width: 350px;
			text-align: left;
		}
	}
}

#video {
	width: 325px;
	iframe {
		width: 325px;
		height: 216px;
	}
}

#blogMobileNav li, #portfolioMobileNav li {
	padding: 27px 60px 26px 60px;
}

.sm {
	//width: 320px;
	li {
		padding: 5px 10px 5px 10px;
		width: 17%;
	}
}

#cv {
	a {
		h3 {
			font-size: 26px;
		}
	}
}

#skills {
	@include column-count(1);
}
.imgGroup {
				width: 370px;
				height: auto;
				padding: 20px;
				margin: 20px auto;
				text-align: center;
				.col2 {
					@include column-count(1);	
				}
				.col3 {
					@include column-count(1);
				}
				img {
					width: 90%;
					padding: 10px;
				}
			}
