/* _________________________________________________

320 and Up boilerplate extension
Andy Clarke http://about.me/malarkey
Version: 2
URL: http://stuffandnonsense.co.uk/projects/320andup/
License: http://creativecommons.org/licenses/MIT/
_____________________________________________________

1 ROOT
2 HEADINGS
3 TYPOGRAPHY
4 LINKS
5 FIGURES & IMAGES
6 TABLES
7 FORMS
8 BANNER
9 NAVIGATION
10 CONTENT
11 MAIN
12 COMPLEMENTARY
13 CONTENTINFO
14 GLOBAL OBJECTS
15 VENDOR-SPECIFIC 
16 MODERNIZR
17 TEMPLATE SPECIFICS

COLOURS 

*/

@import "compass";

h1 {
	font: 42px/48px 'BonvenoCFLight', Arial, sans-serif;letter-spacing: 0;
}

section{
	header {
		h1, h2, h4 {
			width: 580px;
		}
		.headerTools {
			//right: -210px;
			right: -250px;
		}
	}
	nav {
		//width: 500px;
		ul {
		//	width: 500px;
		}
	}
	article {
		width: 540px;
	}
	div.content {
		article {
			h2 {
				font: 36px/52px 'BonvenoCFLight', Arial, sans-serif;
			}
		}
	}
}

#blog {
	@include background-image( linear-gradient(left, rgba(0, 0, 0, 0.2) 3%, rgba(0, 0, 0, 0.1) 20%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.1) 80%, rgba(0, 0, 0, 0.2) 97%), url("../img/h/nav_grad_top.png"), url("../img/h/nav_texture.png"), url("../img/h/sub_nav_background.jpg"));
}

#portfolio {	
	@include background-image( linear-gradient(left, rgba(0, 0, 0, 0.2) 3%, rgba(0, 0, 0, 0.1) 20%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.1) 80%, rgba(0, 0, 0, 0.2) 97%), url("../img/h/nav_grad_top.png"), url("../img/h/nav_texture.png"), url("../img/h/sub_nav_background.jpg"));
}

section[id="contact"] div.content article {
	//height: 300px;
	padding-bottom: 70px;
	form {
		textarea {
			width: 55%;
		}	
	}
}

#blogMobileNav li, #portfolioMobileNav li {
	padding: 27px 80px 26px 80px;
}



.sm {
	//width: 430px;
	li {
		padding: 5px 10px 5px 10px;
		width: 17%;
	}
}
figure {
	width: 510px;
	height: auto;
	padding: 20px;
	margin: 20px auto;
	text-align: center;
	img {
		padding: 10px;
	}
	iframe, div {
		width: 450px;
		height: 300px;
	}
}
