/* _________________________________________________

320 and Up boilerplate extension
Andy Clarke http://about.me/malarkey
Version: 2
URL: http://stuffandnonsense.co.uk/projects/320andup/
License: http://creativecommons.org/licenses/MIT/
_____________________________________________________

1 ROOT
2 HEADINGS
3 TYPOGRAPHY
4 LINKS
5 FIGURES & IMAGES
6 TABLES
7 FORMS
8 BANNER
9 NAVIGATION
10 CONTENT
11 MAIN
12 COMPLEMENTARY
13 CONTENTINFO
14 GLOBAL OBJECTS
15 VENDOR-SPECIFIC 
16 MODERNIZR
17 TEMPLATE SPECIFICS

COLOURS 

*/

@import "compass";

h1 {
	font: 60px/68px 'BonvenoCFLight', Arial, sans-serif;letter-spacing: 0;
}

section{
	header {
		h1, h2, h4 {
			width: 760px;
		}
	}
	nav {
		width: 650px;
	}
	article {
		width: 730px;
	}
}

section[id="header"] div.content article p.featureLeft {
	background-image: url("../img/h/home_divide_bg.png");
	width: 60%;
	padding: 0 25px 0 0;
	background-repeat: repeat-y;
	background-position: right -8px;
}

#tree {
	position: absolute;
	right: 50px;
	top: 0;
}

#cv {
	float: left;
	margin-left: 60px;
}

section[id="about"] div.content article p.featureRight {
	background-image: url("../img/h/about_divide_bg.png");
	width: 60%;

	padding: 5px 0 5px 45px;
	margin-left: 40%;
	background-repeat: repeat-y;
	background-position: left -8px;
	position: relative;
	top: 0px;
	
}

section[id="contact"] div.content article {
	//@include column-count(2);
}

section[id="contact"] div.content article p.featureLeft {
	background-image: url("../img/h/contact_divide_bg.png");
	width: 40%;
	padding: 0 10% 70px 0;
	background-repeat: repeat-y;
	background-position: right -8px;
}

section[id="contact"] div.content article form {
	width: 45%;
	position: absolute;
	top: 0;
	padding-top: 10px;
	margin-left: 50%;
	float: right;
}

#blogSlider, #portfolioSlider { 
	width: 750px; 
}

.sm {
	width: 650px;
	li {
		padding: 5px 10px 5px 10px;
		width: 17%;
	}
}

#skills {
	@include column-count(2);
}

#imgTest {
	width: 100%;
	@include column-count(3);
	img {
		width: 100%;
		top: 0px;
	}
}
