/* _________________________________________________

320 and Up boilerplate extension
Andy Clarke http://about.me/malarkey
Version: 2
URL: http://stuffandnonsense.co.uk/projects/320andup/
License: http://creativecommons.org/licenses/MIT/
_____________________________________________________

1 ROOT
2 HEADINGS
3 TYPOGRAPHY
4 LINKS
5 FIGURES & IMAGES
6 TABLES
7 FORMS
8 BANNER
9 NAVIGATION
10 CONTENT
11 MAIN
12 COMPLEMENTARY
13 CONTENTINFO
14 GLOBAL OBJECTS
15 VENDOR-SPECIFIC 
16 MODERNIZR
17 TEMPLATE SPECIFICS

COLOURS 

*/

@import "compass";

section{
	header {
		h1, h2, h4 {
			width: 960px;
		}
		.headerTools {
			//right: -350px;
			right: -390px;
		}
	}
	nav {
	//	width: 750px;
	}
	article {
		width: 830px;
		div.content {

		}
	}
}

section[id="header"] div.content article p.featureLeft {
	padding: 0 55px 0 0;	
}


#blogSlider, #portfolioSlider { 
	width: 750px; 
}

#cv {
	a {
		h3 {
			font-size: 30px;
		}
	}
}

.sm {
	width: 650px;
	li {
		padding: 5px 10px 5px 10px;
		width: 17%;
	}
}
figure {
	width: 790px;
	height: auto;
	padding: 20px;
	margin: 20px 0 20px 0;				
	&.col2 {
		@include column-count(2);	
	}
	&.col3 {
		@include column-count(3);
	}
	iframe, div {
		width: 780px;
		height: 496px;
	}
}
