/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import tahis file using the following HTML or equivalent:
 * <link href="/stylesheets/screden.css" media="screen, projection" rel="stylesheet" type="text/css" /> ds*/

@import "base";


html {
	background-image: url("../img/h/html_bg_2.png"), url("../img/h/html_bg_1.jpg");
	background-position: center top, left top;
	background-repeat: repeat-y,  ;
	font: 14px/18px 'BonvenoCFLight', Arial, sans-serif;letter-spacing: 0;
	color: #fbf8e8;
}

h1 {
	font: 60px/68px 'BonvenoCFLight', Arial, sans-serif;letter-spacing: 0;
	color: #fbf8e8;
	font-variant: small-caps;
	text-shadow: #111 3px 3px 3px;
	margin-bottom: 0px;
}
h2 {
	font: 40px/48px 'BonvenoCFLight', Arial, sans-serif;letter-spacing: 0;
	color: #fbf8e8;
	font-variant: small-caps;
	text-shadow: #111 2px 2px 3px;
}

h3 {
	font: 30px/38px 'BonvenoCFLight', Arial, sans-serif;letter-spacing: 0;
	color: #fbf8e8;
	font-variant: small-caps;
	text-shadow: #111 1px 1px 2px;
}


h4 {
	font: 15px/20px 'BonvenoCFLight', Arial, sans-serif;letter-spacing: 0;
	color: #fbf8e8;
}


h5 {
	font: 10px/18px 'BonvenoCFLight', Arial, sans-serif;letter-spacing: 0;
	color: #fbf8e8;

}

div {
	font: 14px/18px 'BonvenoCFLight', Arial, sans-serif;letter-spacing: 0;
	color: #fbf8e8;
}

p {
	font: 16px/18px 'BonvenoCFLight', Arial, sans-serif;
	line-height: 24px;
	color: #fbf8e8;
	text-align: left;
}

p.style2 {
	font: 18px/27px 'BonvenoCFLight', Arial, sans-serif;
	color: #212121;
}
article {
	ul, ul li, ul li ul, ul li ul li{
		font: 14px/20px 'BonvenoCFLight', Arial, sans-serif;
		color: #fbf8e8;
		text-align: left;
		list-style: circle;
		margin-left: 10px;
	}
}



#content {
	width: 100%;
	position: absolute;
	height: auto;
	top: 5%;
	bottom: 20%;
	margin: auto;
}

#header {
	background-color: #c03000;
}

#about {
	background-color: #32331d;
}

#blog {
	background-color: #40411e;
 	background-image: url("../img/h/nav_grad_top.png"), url("../img/h/nav_texture.png"), url("../img/h/sub_nav_background.jpg");
	background-repeat: repeat-x, repeat;
	background-position: left top, left top, left 74px;
	text-align: left;
	.sm li {
		background-color: #3c3d1c;
		@include background-image(url("../img/h/nav_texture.png"), linear-gradient(#787746 #646334)); 
		height: 78px;
		border-left: solid 1px #464723;
		border-bottom: solid 2px #464723;
		border-right: solid 1px #353619;
		border-top: solid 1px #353619;
		text-align: left;
		p {
			text-align: left;	
		}
	}
}

#portfolio {	
	background-color: #787746;
 	background-image: url("../img/h/nav_grad_top.png"), url("../img/h/nav_texture.png"), url("../img/h/sub_nav_background.jpg");
	background-repeat: repeat-x, repeat;
	background-position: left top, left top, left 74px;
	.sm li {
		background-color: #434420;
		@include background-image(url("../img/h/nav_texture.png"), linear-gradient(#494a23 #3b3c1b));
		height: 78px;
		border-left: solid 1px #55562c;
		border-right: solid 1px #3a3b1b;
		text-align: left;
		p {
			text-align: left;	
		}
	}
}

#contact {
	background-color: #b4af91;
}





section{
	width: 100%;
    -moz-box-shadow: 0px 10px 30px #111;
    -webkit-box-shadow: 0px 10px 30px #111;
    box-shadow: 0px 10px 30px #111;
 	background-image: url("../img/h/nav_grad_top.png"), url("../img/h/nav_texture.png");
	background-repeat: repeat-x, repeat;
	background-position: left top, left top; 
	header {
		height: 100%;
		padding: 0px 10px 0px 10px;
		margin-bottom: 0px;
		cursor: pointer;
	  	font-weight:bold;
		h1, h2, h4 {
			width: 960px;
			padding: 10px 0 0 0;
			margin-bottom: 13px;
			margin-left: auto;
			margin-right: auto;
		}
	}
	nav {
		width: 750px;
		margin-left: auto;
		margin-right: auto;
	}
	article {
		width: 960px;
		margin-top: 20px;
		margin-left: auto;
		margin-right: auto;
			transition: height 0.5s;
	-moz-transition: height 0.5s; /* Firefox 4 */
	-webkit-transition: height 0.5s; /* Safari and Chrome */
	-o-transition: height 0.5s; /* Opera */
	}
	div.content {	
		width: 100%;
		display:none;
		padding-bottom: 20px;
		article p {
			
		}
	}

}
	
section[id="header"] div.content article p.featureLeft {
	background-image: url("../img/h/home_divide_bg.png");
	width: 60%;
	padding-right: 25px;
	background-repeat: repeat-y;
	background-position: right top;
}

section[id="header"] div.content article p:first-letter {
	font-size: 28px;
}

section[id="about"] div.content article p.featureRight {
	background-image: url("../img/h/about_divide_bg.png");
	width: 60%;
	float: right;
	padding-left: 35px;
	margin-left: 40%;
	background-repeat: repeat-y;
	background-position: left top;
}

section[id="about"] div.content article p:first-letter {
	font-size: 28px;
}
/*/////////////////////////////////////////
section[id="blog"] div.content article p {
	background-image: url("../img/h/blog_divide_bg.png");
}

section[id="portfolio"] div.content article p {
	background-image: url("../img/h/portfolio_divide_bg.png");
}

section[id="contact"] div.content article p {
	background-image: url("../img/h/contact_divide_bg.png");
}
*///////////////////////////////////////
nav+article {
	margin-top: 25px;
}



#blogSlider, #portfolioSlider { 
	width: 750px; 
	height: 77px; 
	top: 4px; 

}
.sm {

	width: 650px;
	float: left;
	list-style:none;  
	height:100px; 
	display:block; 
	overflow:hidden;
	transition: position 0.5s;
}
.sm li {
	padding: 5px 10px 5px 10px;
	float:left; 
	display:inline;
	overflow:hidden;
	width: 17%;
	border-left: solid 1px #616232;
	border-right: solid 1px #25260d;
	font: 14px/14px 'BonvenoCFLight', Arial, sans-serif;
	color: #fbf8e8;
		transition: width 0.5s;
		-moz-transition: width 0.5s; /* Firefox 4 */
		-webkit-transition: width 0.5s; /* Safari and Chrome */
		-o-transition: width 0.5s; /* Opera */
	}

.title {
	float: left;
	width: 100px;
	p {
		font-size: 12px;
		line-height: 16px;
		margin-bottom: 7px;
	}
	.date {
			font-size: 11px;
			line-height: 12px;
		}
}

.description p {
	font-size: 12px;
	line-height: 16px;
	margin-left: 120px;
	padding-top: 17px;
	width: 120px;
	text-align: left;
	transition: opacity 0.5s;
	-moz-transition: opacity 0.5s; /* Firefox 4 */
	-webkit-transition: opacity 0.5s; /* Safari and Chrome */
	-o-transition: opacity 0.5s; /* Opera */
	opacity: 0;
}
#blogNav, #portfolioNav {
	display: inline;
}
#blogNavForward, #portfolioNavForward {
	float: right;
}
#blogNavBack, #portfolioNavBack {
	float: left;
}

.preloader {
	margin: 23px 0 0 43px;
}

article {
	position: relative;
	p {
		text-shadow: 2px 2px 8px #000;
	}
	.categories {
		position: absolute;
		top: 17px;
		right: 0;
	}
	.tags {
		position: absolute;
		top: 38px;
		right: 0;
	}
	.date {
		position: absolute;
		top: 0;
		right: 0;
	}
}
a {
	color: #ff4100 !important;
	text-decoration: none;
	text-shadow: 2px 2px 2px #000;
	transition: color 0.5s;
	-moz-transition: color 0.5s; /* Firefox 4 */
	-webkit-transition: color 0.5s; /* Safari and Chrome */
	-o-transition: color 0.5s; /* Opera */
	&:hover {
		color: #ff622c !important;
		text-decoration: underline;
	}
}


