/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import tahis file using the following HTML or equivalent:
 * <link href="/stylesheets/screden.css" media="screen, projection" rel="stylesheet" type="text/css" /> ds*/

@import "base";


html {
/*	background-color: #212121;*/
	background-image: url("../img/h/html_bg_2.png"), url("../img/h/html_bg_1.jpg");
	background-position: center top, left top;
	background-repeat: repeat-y,  ;
}

h1.fontface {
	font: 60px/68px 'BonvenoCFLight', Arial, sans-serif;letter-spacing: 0;
	color: #fbf8e8;
	font-variant: small-caps;
	text-shadow: #111 3px 3px 3px;
}
h2.fontface {
	font: 40px/48px 'BonvenoCFLight', Arial, sans-serif;letter-spacing: 0;
	color: #fbf8e8;
	font-variant: small-caps;
	text-shadow: #111 2px 2px 3px;
}

h3.fontface {
	font: 30px/38px 'BonvenoCFLight', Arial, sans-serif;letter-spacing: 0;
	color: #fbf8e8;
	font-variant: small-caps;
	text-shadow: #111 1px 1px 2px;
}


h4.fontface {
	font: 15px/20px 'BonvenoCFLight', Arial, sans-serif;letter-spacing: 0;
	color: #fbf8e8;
}


h5.fontface {
	font: 10px/18px 'BonvenoCFLight', Arial, sans-serif;letter-spacing: 0;
	color: #fbf8e8;

}


p.style1 {
	font: 18px/27px 'BonvenoCFLight', Arial, sans-serif;
	color: #fbf8e8;
}

p.style2 {
	font: 18px/27px 'BonvenoCFLight', Arial, sans-serif;
	color: #212121;
}

#content {
	width: 100%;
	position: absolute;
	height: auto;
	top: 5%;
	bottom: 20%;
	margin: auto;
}

/*#content:nth-child(0) {*/
#header {
	background-color: #c03000;

}

/*#content:nth-child(1) {*/
#about {
	background-color: #32331d;

}

/*#content:nth-child(2) {*/
#blog {
	background-color: #40411e;

}

/*#content:nth-child(3) {*/
#portfolio {	
	background-color: #787746;

}

/*#content:nth-child(4) {*/
#contact {
	background-color: #b4af91;

}



section {
	width: 100%;
    -moz-box-shadow: 0px 10px 30px #111;
    -webkit-box-shadow: 0px 10px 30px #111;
    box-shadow: 0px 10px 30px #111;
 	background-image: url("../img/h/nav_grad_top.png"), url("../img/h/nav_texture.png");
	background-repeat: repeat-x;
	background-position: left top, left top; 

}

#blog {
 	background-image: url("../img/h/nav_grad_top.png"), url("../img/h/nav_texture.png"), url("../img/h/sub_nav_background.jpg");
	background-repeat: repeat-x;
	background-position: left top, left top, left 74px;
	text-align: left;
}

#blog .sm li {
	background-color: #3c3d1c;
	@include background-image(url("../img/h/nav_texture.png"), linear-gradient(#787746 #646334)); 
	height: 78px;
	border-left: solid 1px #464723;
	border-bottom: solid 2px #464723;
	border-right: solid 1px #353619;
	border-top: solid 1px #353619;
	text-align: left;
}
#blog .sm li p {
text-align: left;
	}

#portfolio {	
 	background-image: url("../img/h/nav_grad_top.png"), url("../img/h/nav_texture.png"), url("../img/h/sub_nav_background.jpg");
	background-repeat: repeat-x;
	background-position: left top, left top, left 74px;
}

#portfolio .sm li {
	background-color: #434420;
	@include background-image(url("../img/h/nav_texture.png"), linear-gradient(#494a23 #3b3c1b));
	height: 78px;
	border-left: solid 1px #55562c;
	border-right: solid 1px #3a3b1b;
}

section header {
	height: 100%;
	padding: 0px 10px 0px 10px;
	cursor: pointer;
  font-weight:bold;

/*	background-attachment: fixed;*/
/*  	background-position: left center;*/
}

section header h1, section header h2, section header h4{
	width: 850px;
	padding: 10px 0 0 0;
	margin-bottom: 13px;
	margin-left: auto;
	margin-right: auto;
}

section div.content {
	width: 100%;
	display:none;
/*	background-color: #fff;*/
	padding-bottom: 20px;
	
}

section nav, section article {
	width: 750px;
	margin-left: auto;
	margin-right: auto;
}

nav+article {
	margin-top: 25px;
}

.title {
	float: left;
	width: 100px;

}

.title p {
	font-size: 13px;
	text-align: left;
}

.title p.date {
	font-size: 10px;
	line-height: 12px;
	margin-bottom: 5px;
}


#blogSlider, #portfolioSlider { width: 750px; height: 77px; top: 4px; }
.sm {

	width: 650px;
	float: left;
	list-style:none;  
	height:100px; 
	display:block; 
	overflow:hidden;
	transition: position 0.5s;
}
.sm li {
	padding: 5px 10px 5px 10px;
	float:left; 
	display:inline;
	overflow:hidden;
	width: 17%;
	border-left: solid 1px #616232;
	border-right: solid 1px #25260d;
	font: 14px/14px 'BonvenoCFLight', Arial, sans-serif;
	color: #fbf8e8;
	
		transition: width 0.5s;
		-moz-transition: width 0.5s; /* Firefox 4 */
		-webkit-transition: width 0.5s; /* Safari and Chrome */
		-o-transition: width 0.5s; /* Opera */
	}


.title {float: left; width: 100px; padding: 0px;}
.description {
	
}
.description p {
	font-size: 12px;
	margin-left: 120px;
	width: 120px;
	text-align: left;
	transition: opacity 0.5s;
	opacity: 0;
}
#blogNav, #portfolioNav {
	display: inline;
}
#blogNavForward, #portfolioNavForward {
	float: right;
}
#blogNavBack, #portfolioNavBack {
	float: left;
}
