/* 2x 

_________________________________________________

320 and Up boilerplate extension
Andy Clarke http://about.me/malarkey
Version: 2
URL: http://stuffandnonsense.co.uk/projects/320andup/
License: http://creativecommons.org/licenses/MIT/
_____________________________________________________

1 ROOT
2 HEADINGS
3 TYPOGRAPHY
4 LINKS
5 FIGURES & IMAGES
6 TABLES
7 FORMS
8 BANNER
9 NAVIGATION
10 CONTENT
11 MAIN
12 COMPLEMENTARY
13 CONTENTINFO
14 GLOBAL OBJECTS
15 VENDOR-SPECIFIC 
16 MODERNIZR
17 TEMPLATE SPECIFICS

COLOURS 

*/
/* line 34, ../sass/2x.scss */
section[id="header"] div.content article p.featureLeft {
  background-image: url("../img/h/home_divide_bg@2x.png"), url("../img/h/home_divide_bg@2x.png");
  background-size: 30px 30px;
}

/* line 39, ../sass/2x.scss */
section[id="about"] div.content article p.featureRight {
  background-image: url("../img/h/about_divide_bg@2x.png"), url("../img/h/about_divide_bg@2x.png");
  background-size: 30px 30px;
}

/* line 44, ../sass/2x.scss */
section[id="contact"] div.content article p {
  background-image: url("../img/h/contact_divide_bg@2x.png"), url("../img/h/contact_divide_bg@2x.png");
  background-size: 30px 30px;
}

/* line 49, ../sass/2x.scss */
section[id="blog"] div.content article p {
  background-image: url("../img/h/blog_divide_bg@2x.png");
  background-size: 30px 30px;
}

/* line 54, ../sass/2x.scss */
section[id="portfolio"] div.content article p {
  background-image: url("../img/h/portfolio_divide_bg@2x.png");
  background-size: 30px 30px;
}
