/* _________________________________________________

320 and Up boilerplate extension
Andy Clarke http://about.me/malarkey
Version: 2
URL: http://stuffandnonsense.co.uk/projects/320andup/
License: http://creativecommons.org/licenses/MIT/
_____________________________________________________

1 ROOT
2 HEADINGS
3 TYPOGRAPHY
4 LINKS
5 FIGURES & IMAGES
6 TABLES
7 FORMS
8 BANNER
9 NAVIGATION
10 CONTENT
11 MAIN
12 COMPLEMENTARY
13 CONTENTINFO
14 GLOBAL OBJECTS
15 VENDOR-SPECIFIC 
16 MODERNIZR
17 TEMPLATE SPECIFICS

COLOURS 

*/
/* line 34, ../sass/480.scss */
h1 {
  font: 32px/38px "BonvenoCFLight", Arial, sans-serif;
  letter-spacing: 0;
}

/* line 40, ../sass/480.scss */
section header h1, section header h2, section header h4 {
  width: 460px;
}
/* line 44, ../sass/480.scss */
section nav {
  width: 400px;
}
/* line 46, ../sass/480.scss */
section nav ul {
  width: 400px;
}
/* line 50, ../sass/480.scss */
section article {
  width: 420px;
}
/* line 55, ../sass/480.scss */
section article div.entryMeta {
  width: 350px;
  text-align: left;
}
/* line 56, ../sass/480.scss */
section article div.entryMeta p, section article div.entryMeta a {
  font-size: 11px !important;
  margin: 0px;
}

/* line 68, ../sass/480.scss */
#blogMobileNav li, #portfolioMobileNav li {
  padding: 27px 60px 26px 60px;
}

/* line 74, ../sass/480.scss */
.sm li {
  padding: 5px 10px 5px 10px;
  width: 17%;
}

/* line 82, ../sass/480.scss */
#cv a h3 {
  font-size: 26px;
}

/* line 88, ../sass/480.scss */
#skills {
  -webkit-column-count: 1;
  -moz-column-count: 1;
  -o-column-count: 1;
  column-count: 1;
}

/* line 91, ../sass/480.scss */
figure {
  width: 370px;
  height: auto;
  padding: 20px;
  margin: 20px auto;
  text-align: center;
}
/* line 97, ../sass/480.scss */
figure .col2 {
  -webkit-column-count: 1;
  -moz-column-count: 1;
  -o-column-count: 1;
  column-count: 1;
}
/* line 100, ../sass/480.scss */
figure .col3 {
  -webkit-column-count: 1;
  -moz-column-count: 1;
  -o-column-count: 1;
  column-count: 1;
}
/* line 103, ../sass/480.scss */
figure img {
  width: 90%;
  padding: 10px;
}
/* line 107, ../sass/480.scss */
figure iframe {
  width: 325px;
  height: 216px;
}
