/* _________________________________________________

320 and Up boilerplate extension
Andy Clarke http://about.me/malarkey
Version: 2
URL: http://stuffandnonsense.co.uk/projects/320andup/
License: http://creativecommons.org/licenses/MIT/
_____________________________________________________

1 ROOT
2 HEADINGS
3 TYPOGRAPHY
4 LINKS
5 FIGURES & IMAGES
6 TABLES
7 FORMS
8 BANNER
9 NAVIGATION
10 CONTENT
11 MAIN
12 COMPLEMENTARY
13 CONTENTINFO
14 GLOBAL OBJECTS
15 VENDOR-SPECIFIC 
16 MODERNIZR
17 TEMPLATE SPECIFICS

COLOURS 

*/
/* line 34, ../sass/600.scss */
h1 {
  font: 42px/48px "BonvenoCFLight", Arial, sans-serif;
  letter-spacing: 0;
}

/* line 40, ../sass/600.scss */
section header h1, section header h2, section header h4 {
  width: 580px;
}
/* line 44, ../sass/600.scss */
section nav {
  width: 500px;
}
/* line 46, ../sass/600.scss */
section nav ul {
  width: 500px;
}
/* line 50, ../sass/600.scss */
section article {
  width: 540px;
}

/* line 60, ../sass/600.scss */
section[id="contact"] div.content article form textarea {
  width: 55%;
}

/* line 65, ../sass/600.scss */
#blogMobileNav li, #portfolioMobileNav li {
  padding: 27px 80px 26px 80px;
}

/* line 73, ../sass/600.scss */
.sm li {
  padding: 5px 10px 5px 10px;
  width: 17%;
}

/* line 78, ../sass/600.scss */
figure {
  width: 510px;
  height: auto;
  padding: 20px;
  margin: 20px auto;
  text-align: center;
}
/* line 84, ../sass/600.scss */
figure img {
  width: 90%;
  padding: 10px;
}
/* line 88, ../sass/600.scss */
figure iframe {
  width: 450px;
  height: 300px;
}
