/* _________________________________________________

320 and Up boilerplate extension
Andy Clarke http://about.me/malarkey
Version: 2
URL: http://stuffandnonsense.co.uk/projects/320andup/
License: http://creativecommons.org/licenses/MIT/
_____________________________________________________

1 ROOT
2 HEADINGS
3 TYPOGRAPHY
4 LINKS
5 FIGURES & IMAGES
6 TABLES
7 FORMS
8 BANNER
9 NAVIGATION
10 CONTENT
11 MAIN
12 COMPLEMENTARY
13 CONTENTINFO
14 GLOBAL OBJECTS
15 VENDOR-SPECIFIC 
16 MODERNIZR
17 TEMPLATE SPECIFICS

COLOURS 

*/
/* line 36, ../sass/768.scss */
section header h1, section header h2, section header h4 {
  width: 960px;
}
/* line 40, ../sass/768.scss */
section nav {
  width: 750px;
}
/* line 43, ../sass/768.scss */
section article {
  width: 830px;
}

/* line 48, ../sass/768.scss */
#blogSlider, #portfolioSlider {
  width: 750px;
}

/* line 52, ../sass/768.scss */
.sm {
  width: 650px;
}
/* line 54, ../sass/768.scss */
.sm li {
  padding: 5px 10px 5px 10px;
  width: 17%;
}

/* line 60, ../sass/768.scss */
#skills {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  -o-column-count: 2;
  column-count: 2;
}
