/* _________________________________________________

320 and Up boilerplate extension
Andy Clarke http://about.me/malarkey
Version: 2
URL: http://stuffandnonsense.co.uk/projects/320andup/
License: http://creativecommons.org/licenses/MIT/
_____________________________________________________

1 ROOT
2 HEADINGS
3 TYPOGRAPHY
4 LINKS
5 FIGURES & IMAGES
6 TABLES
7 FORMS
8 BANNER
9 NAVIGATION
10 CONTENT
11 MAIN
12 COMPLEMENTARY
13 CONTENTINFO
14 GLOBAL OBJECTS
15 VENDOR-SPECIFIC 
16 MODERNIZR
17 TEMPLATE SPECIFICS

COLOURS 

*/
/* line 36, ../sass/992.scss */
section header h1, section header h2, section header h4 {
  width: 960px;
}
/* line 39, ../sass/992.scss */
section header .headerTools {
  right: -350px;
}
/* line 46, ../sass/992.scss */
section article {
  width: 830px;
}

/* line 54, ../sass/992.scss */
section[id="header"] div.content article p.featureLeft {
  padding: 0 55px 0 0;
}

/* line 59, ../sass/992.scss */
#blogSlider, #portfolioSlider {
  width: 750px;
}

/* line 65, ../sass/992.scss */
#cv a h3 {
  font-size: 30px;
}

/* line 71, ../sass/992.scss */
.sm {
  width: 650px;
}
/* line 73, ../sass/992.scss */
.sm li {
  padding: 5px 10px 5px 10px;
  width: 17%;
}

/* line 78, ../sass/992.scss */
figure {
  width: 790px;
  height: auto;
  padding: 20px;
  margin: 20px 0 20px 0;
}
/* line 83, ../sass/992.scss */
figure.col2 {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  -o-column-count: 2;
  column-count: 2;
}
/* line 86, ../sass/992.scss */
figure.col3 {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  -o-column-count: 3;
  column-count: 3;
}
/* line 89, ../sass/992.scss */
figure iframe, figure div {
  width: 780px;
  height: 496px;
}
