/* _________________________________________________

320 and Up boilerplate extension
Andy Clarke http://about.me/malarkey
Version: 2
URL: http://stuffandnonsense.co.uk/projects/320andup/
License: http://creativecommons.org/licenses/MIT/
_____________________________________________________

1 ROOT
2 HEADINGS
3 TYPOGRAPHY
4 LINKS
5 FIGURES & IMAGES
6 TABLES
7 FORMS
8 BANNER
9 NAVIGATION
10 CONTENT
11 MAIN
12 COMPLEMENTARY
13 CONTENTINFO
14 GLOBAL OBJECTS
15 VENDOR-SPECIFIC 
16 MODERNIZR
17 TEMPLATE SPECIFICS
18 MEDIA QUERIES

COLOURS 

*/
/* line 33, ../sass/print.scss */
* {
  background: transparent !important;
  color: black !important;
  text-shadow: none !important;
  filter: none !important;
  -ms-filter: none !important;
}

@page {
  margin: 0.5cm;
}

/* line 44, ../sass/print.scss */
h2, h3 {
  orphans: 3;
  widows: 3;
  page-break-after: avoid;
}

/* line 49, ../sass/print.scss */
p {
  orphans: 3;
  widows: 3;
}

/* line 53, ../sass/print.scss */
pre, blockquote {
  border: 1px solid #999;
  page-break-inside: avoid;
}

/* line 57, ../sass/print.scss */
abbr[title]:after {
  content: " (" attr(title) ")";
}

/* line 60, ../sass/print.scss */
a {
  color: #444 !important;
  text-decoration: underline;
}
/* line 63, ../sass/print.scss */
a:visited {
  color: #444 !important;
  text-decoration: underline;
}
/* line 66, ../sass/print.scss */
a[href]:after {
  content: " (" attr(href) ")";
}
/* line 68, ../sass/print.scss */
a[href^="javascript:"]:after, a[href^="#"]:after {
  content: "";
}

/* line 71, ../sass/print.scss */
img {
  max-width: 100% !important;
  page-break-inside: avoid;
}

/* line 75, ../sass/print.scss */
thead {
  display: table-header-group;
}

/* line 78, ../sass/print.scss */
tr {
  page-break-inside: avoid;
}

/* line 81, ../sass/print.scss */
.ir a:after {
  content: "";
}
