/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import tahis file using the following HTML or equivalent:
 * <link href="/stylesheets/screden.css" media="screen, projection" rel="stylesheet" type="text/css" /> ds*/
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* _________________________________________________

320 and Up boilerplate extension
Andy Clarke http://about.me/malarkey
Version: 2
URL: http://stuffandnonsense.co.uk/projects/320andup/
License: http://creativecommons.org/licenses/MIT/
_____________________________________________________

1 ROOT
2 HEADINGS
3 TYPOGRAPHY
4 LINKS
5 FIGURES & IMAGES
6 TABLES
7 FORMS
8 BANNER
9 NAVIGATION
10 CONTENT
11 MAIN
12 COMPLEMENTARY
13 CONTENTINFO
14 GLOBAL OBJECTS
15 VENDOR-SPECIFIC 
16 MODERNIZR
17 TEMPLATE SPECIFICS
18 MEDIA QUERIES

COLOURS 

*/
/* line 32, ../sass/_boilerplate.scss */
html, body {
  margin: 0;
  padding: 0;
}

/* line 83, ../sass/_boilerplate.scss */
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
cite,
code,
del,
dfn,
em,
img,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dd,
dl,
dt,
li,
ol,
ul,
fieldset,
form,
label,
legend,
button,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  font-style: normal;
  font-size: 100%;
  line-height: 1;
  font-family: inherit;
}

/* line 102, ../sass/_boilerplate.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}

/* line 105, ../sass/_boilerplate.scss */
audio[controls], canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

@font-face {
  font-family: 'BonvenoCFLight';
  src: url("../fonts/BonvenoCF-Light-webfont.eot");
  src: url("../fonts/BonvenoCF-Light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/BonvenoCF-Light-webfont.woff") format("woff"), url("../fonts/BonvenoCF-Light-webfont.ttf") format("truetype"), url("../fonts/BonvenoCF-Light-webfont.svg#BonvenoCFLight") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* 320 and Up _________________________________________________

320 and Up
Andy Clarke http://about.me/malarkey
LESS Version: 2
URL: http://stuffandnonsense.co.uk/projects/320andup/
License: http://creativecommons.org/licenses/MIT/

Includes:


__________________________________________________________ */
/* line 136, ../sass/_boilerplate.scss */
.sans-serif {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* line 139, ../sass/_boilerplate.scss */
.serif {
  font-family: "Cambria, Georgia, Times, " Times New Roman;
}

/* line 142, ../sass/_boilerplate.scss */
.monospace {
  font-family: "Monaco", Courier New, monospace;
}

/* line 145, ../sass/_boilerplate.scss */
.clearfix {
  zoom: 1;
}

/* line 148, ../sass/_boilerplate.scss */
.clearfix:before, .clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}

/* line 154, ../sass/_boilerplate.scss */
.clearfix:after {
  clear: both;
}

/* line 157, ../sass/_boilerplate.scss */
html {
  overflow-y: scroll;
  background: #ffffff;
  /*  background: #ffffff url(../img/tmp/grid.png) repeat-y 50% 0;*/
  font-size: 62.5%;
}

/* line 163, ../sass/_boilerplate.scss */
body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  /* 252px; */
  font-size: 16px;
  font-size: 1.6rem;
  font-family: "Cambria, Georgia, Times, " Times New Roman;
  color: #282828;
  background-color: transparent;
}

/* line 178, ../sass/_boilerplate.scss */
button,
input,
select,
textarea {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #404040;
}

/* line 187, ../sass/_boilerplate.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
}

/* line 191, ../sass/_boilerplate.scss */
h1 {
  margin-bottom: 0.75em;
  font-size: 48px;
  font-size: 4.8rem;
  line-height: 1.2;
}

/* line 197, ../sass/_boilerplate.scss */
h2 {
  margin-bottom: 0.75em;
  font-size: 32px;
  font-size: 3.2rem;
  line-height: 1.2;
}

/* line 203, ../sass/_boilerplate.scss */
h3 {
  margin-bottom: 1em;
  font-size: 24px;
  font-size: 2.4rem;
  line-height: 1.3;
}

/* line 209, ../sass/_boilerplate.scss */
h4 {
  margin-bottom: 1em;
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 1.25;
}

/* line 215, ../sass/_boilerplate.scss */
h5 {
  margin-bottom: 1.5em;
  font-size: 16px;
  font-size: 1.6rem;
}

/* line 220, ../sass/_boilerplate.scss */
h6 {
  font-size: 16px;
  font-size: 1.6rem;
}

/* line 228, ../sass/_boilerplate.scss */
p,
ol,
ul,
dl,
address {
  margin-bottom: 1.5em;
  font-size: 16px;
  font-size: 1.6rem;
}

/* line 233, ../sass/_boilerplate.scss */
p {
  hyphens: auto;
  text-align: justify;
}

/* line 237, ../sass/_boilerplate.scss */
ul, ol {
  margin: 0 0 1.5em -24px;
  padding: 0 0 0 24px;
}

/* line 241, ../sass/_boilerplate.scss */
li ul, li ol {
  margin: 0;
  font-size: 16px;
  font-size: 1.6rem;
}

/* line 246, ../sass/_boilerplate.scss */
dl, dd {
  margin-bottom: 1.5em;
}

/* line 249, ../sass/_boilerplate.scss */
dt {
  font-weight: normal;
}

/* line 252, ../sass/_boilerplate.scss */
blockquote {
  margin: 0 0 1.5em -24px;
  padding-left: 24px;
  border-left: 1px solid #bfbfbf;
  font-style: italic;
}

/* line 261, ../sass/_boilerplate.scss */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

/* line 265, ../sass/_boilerplate.scss */
abbr[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

/* line 269, ../sass/_boilerplate.scss */
b, strong {
  font-weight: bold;
}

/* line 272, ../sass/_boilerplate.scss */
dfn {
  font-style: italic;
}

/* line 275, ../sass/_boilerplate.scss */
hr {
  display: block;
  margin: 1em 0;
  padding: 0;
  height: 1px;
  border: 0;
  border-top: 1px solid #bfbfbf;
}

/* line 283, ../sass/_boilerplate.scss */
ins {
  background-color: #c3d9e6;
  color: #000000;
  text-decoration: none;
}

/* line 288, ../sass/_boilerplate.scss */
mark {
  background-color: #c3d9e6;
  color: #000000;
  font-style: italic;
  font-weight: bold;
}

/* line 297, ../sass/_boilerplate.scss */
pre,
code,
kbd,
samp {
  font-family: "Monaco", Courier New, monospace;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1.5em;
}

/* line 303, ../sass/_boilerplate.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 308, ../sass/_boilerplate.scss */
q {
  quotes: none;
}

/* line 311, ../sass/_boilerplate.scss */
q:before, q:after {
  content: "";
  content: none;
}

/* line 315, ../sass/_boilerplate.scss */
small {
  font-size: 14px;
  font-size: 1.4rem;
}

/* line 319, ../sass/_boilerplate.scss */
sub, sup {
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 326, ../sass/_boilerplate.scss */
sup {
  top: -0.5em;
}

/* line 329, ../sass/_boilerplate.scss */
sub {
  bottom: -0.25em;
}

/* line 332, ../sass/_boilerplate.scss */
a {
  color: #013568;
}

/* line 335, ../sass/_boilerplate.scss */
a:visited {
  color: #011b35;
}

/* line 338, ../sass/_boilerplate.scss */
a:hover {
  color: #011b35;
}

/* line 341, ../sass/_boilerplate.scss */
a:focus {
  outline: thin dotted;
  color: #011b35;
}

/* line 345, ../sass/_boilerplate.scss */
a:hover, a:active {
  outline: 0;
}

/* line 348, ../sass/_boilerplate.scss */
figure {
  margin-bottom: 1.5em;
}

/* line 351, ../sass/_boilerplate.scss */
figure img, figure object, figure embed {
  margin-bottom: 0.75em;
  max-width: 100%;
}

/* line 355, ../sass/_boilerplate.scss */
figcaption {
  display: block;
  font-weight: normal;
}

/* line 359, ../sass/_boilerplate.scss */
img {
  border: 0;
}

/* line 362, ../sass/_boilerplate.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 365, ../sass/_boilerplate.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 1.5em;
  width: 100%;
  font-size: 14px;
  font-size: 1.4rem;
}

/* line 373, ../sass/_boilerplate.scss */
th, td, caption {
  padding: 0.1875em 10px 0.1875em 5px;
}

/* line 376, ../sass/_boilerplate.scss */
tfoot {
  font-style: italic;
}

/* line 379, ../sass/_boilerplate.scss */
caption {
  background-color: transparent;
}

/* line 382, ../sass/_boilerplate.scss */
tbody tr:nth-child(odd) td {
  background-color: #c3d9e6;
}

/* line 385, ../sass/_boilerplate.scss */
form {
  margin: 0;
}

/* line 388, ../sass/_boilerplate.scss */
fieldset {
  margin-bottom: 1.5em;
  padding: 0;
  border-width: 0;
}

/* line 393, ../sass/_boilerplate.scss */
legend {
  *margin-left: -7px;
  padding: 0;
  border-width: 0;
}

/* line 398, ../sass/_boilerplate.scss */
label {
  font-weight: normal;
  cursor: pointer;
}

/* line 405, ../sass/_boilerplate.scss */
button,
input,
select,
textarea {
  font-size: 12px;
  font-size: 1.2rem;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

/* line 412, ../sass/_boilerplate.scss */
button, input {
  line-height: normal;
  *overflow: visible;
}

/* line 419, ../sass/_boilerplate.scss */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
}

/* line 422, ../sass/_boilerplate.scss */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
}

/* line 425, ../sass/_boilerplate.scss */
input[type="search"] {
  box-sizing: content-box;
}

/* line 428, ../sass/_boilerplate.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

/* line 432, ../sass/_boilerplate.scss */
textarea {
  overflow: auto;
  vertical-align: top;
}

/* line 436, ../sass/_boilerplate.scss */
html {
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: #c3d9e6;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 442, ../sass/_boilerplate.scss */
::-webkit-selection {
  background: #e6e6e6;
  color: #fafafa;
  text-shadow: none;
}

/* line 447, ../sass/_boilerplate.scss */
::-moz-selection {
  background: #7bacc8;
  color: #c8977b;
  text-shadow: none;
}

/* line 452, ../sass/_boilerplate.scss */
::selection {
  background: #7bacc8;
  color: #c8977b;
  text-shadow: none;
}

/* line 460, ../sass/_boilerplate.scss */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
}

/* line 463, ../sass/_boilerplate.scss */
::-webkit-input-placeholder {
  font-size: 14px;
  font-size: 1.4rem;
}

/* line 467, ../sass/_boilerplate.scss */
input:-moz-placeholder {
  font-size: 14px;
  font-size: 1.4rem;
}

/* line 471, ../sass/_boilerplate.scss */
.ie7 img, .iem7 img {
  -ms-interpolation-mode: bicubic;
}

/* line 474, ../sass/_boilerplate.scss */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
}

/* line 477, ../sass/_boilerplate.scss */
input[type="search"] {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
}

/* line 481, ../sass/_boilerplate.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

/* line 485, ../sass/_boilerplate.scss */
p {
  -webkit-hyphens: auto;
  -webkit-hyphenate-character: "\2010";
  -webkit-hyphenate-limit-after: 1;
  -webkit-hyphenate-limit-before: 3;
  -moz-hyphens: auto;
}

/* line 492, ../sass/_boilerplate.scss */
.ir {
  display: block;
  overflow: hidden;
  background-repeat: no-repeat;
  text-align: left;
  text-indent: -999em;
  direction: ltr;
}

/* line 500, ../sass/_boilerplate.scss */
.ir br {
  display: none;
}

/* line 503, ../sass/_boilerplate.scss */
.hidden {
  display: none;
  visibility: hidden;
}

/* line 507, ../sass/_boilerplate.scss */
.visuallyhidden {
  position: absolute;
  margin: -1px;
  padding: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

/* line 517, ../sass/_boilerplate.scss */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  position: static;
  margin: 0;
  height: auto;
  width: auto;
  overflow: visible;
  clip: auto;
}

/* line 525, ../sass/_boilerplate.scss */
.invisible {
  visibility: hidden;
}

/* 17 TEMPLATE SPECIFICS ============================================================================= */
/* line 8, ../sass/style.scss */
html {
  /*	background-color: #212121;*/
  background-image: url("../img/h/html_bg_2.png"), url("../img/h/html_bg_1.jpg");
  background-position: center top, left top;
  background-repeat: repeat-y,;
}

/* line 15, ../sass/style.scss */
h1.fontface {
  font: 60px/68px "BonvenoCFLight", Arial, sans-serif;
  letter-spacing: 0;
  color: #fbf8e8;
  font-variant: small-caps;
  text-shadow: #111 3px 3px 3px;
}

/* line 21, ../sass/style.scss */
h2.fontface {
  font: 40px/48px "BonvenoCFLight", Arial, sans-serif;
  letter-spacing: 0;
  color: #fbf8e8;
  font-variant: small-caps;
  text-shadow: #111 2px 2px 3px;
}

/* line 28, ../sass/style.scss */
h3.fontface {
  font: 30px/38px "BonvenoCFLight", Arial, sans-serif;
  letter-spacing: 0;
  color: #fbf8e8;
  font-variant: small-caps;
  text-shadow: #111 1px 1px 2px;
}

/* line 36, ../sass/style.scss */
h4.fontface {
  font: 15px/20px "BonvenoCFLight", Arial, sans-serif;
  letter-spacing: 0;
  color: #fbf8e8;
}

/* line 42, ../sass/style.scss */
h5.fontface {
  font: 10px/18px "BonvenoCFLight", Arial, sans-serif;
  letter-spacing: 0;
  color: #fbf8e8;
}

/* line 49, ../sass/style.scss */
p.style1 {
  font: 18px/27px "BonvenoCFLight", Arial, sans-serif;
  color: #fbf8e8;
}

/* line 54, ../sass/style.scss */
p.style2 {
  font: 18px/27px "BonvenoCFLight", Arial, sans-serif;
  color: #212121;
}

/* line 59, ../sass/style.scss */
#content {
  width: 100%;
  position: absolute;
  height: auto;
  top: 5%;
  bottom: 20%;
  margin: auto;
}

/*#content:nth-child(0) {*/
/* line 69, ../sass/style.scss */
#header {
  background-color: #c03000;
}

/*#content:nth-child(1) {*/
/* line 75, ../sass/style.scss */
#about {
  background-color: #32331d;
}

/*#content:nth-child(2) {*/
/* line 81, ../sass/style.scss */
#blog {
  background-color: #40411e;
}

/*#content:nth-child(3) {*/
/* line 87, ../sass/style.scss */
#portfolio {
  background-color: #787746;
}

/*#content:nth-child(4) {*/
/* line 93, ../sass/style.scss */
#contact {
  background-color: #b4af91;
}

/* line 100, ../sass/style.scss */
section {
  width: 100%;
  -moz-box-shadow: 0px 10px 30px #111;
  -webkit-box-shadow: 0px 10px 30px #111;
  box-shadow: 0px 10px 30px #111;
  background-image: url("../img/h/nav_grad_top.png"), url("../img/h/nav_texture.png");
  background-repeat: repeat-x;
  background-position: left top, left top;
}

/* line 111, ../sass/style.scss */
#blog {
  background-image: url("../img/h/nav_grad_top.png"), url("../img/h/nav_texture.png"), url("../img/h/sub_nav_bg.png");
  background-repeat: repeat-x;
  background-position: left top, left top, left 74px;
}

/* line 117, ../sass/style.scss */
#blog .sm li {
  background-color: #40411e;
}

/* line 121, ../sass/style.scss */
#portfolio {
  background-image: url("../img/h/nav_grad_top.png"), url("../img/h/nav_texture.png"), url("../img/h/sub_nav_bg.png");
  background-repeat: repeat-x;
  background-position: left top, left top, left 74px;
}

/* line 127, ../sass/style.scss */
#portfolio .sm li {
  background-color: #787746;
}

/* line 131, ../sass/style.scss */
section header {
  height: 100%;
  padding: 0px 10px 0px 10px;
  cursor: pointer;
  font-weight: bold;
  /*	background-attachment: fixed;*/
  /*  	background-position: left center;*/
}

/* line 141, ../sass/style.scss */
section header h1, section header h2, section header h4 {
  width: 850px;
  padding: 10px 0 0 0;
  margin-bottom: 13px;
  margin-left: auto;
  margin-right: auto;
}

/* line 149, ../sass/style.scss */
section article {
  width: 100%;
  display: none;
  /*	background-color: #fff;*/
  padding-bottom: 20px;
}

/* line 157, ../sass/style.scss */
section article div {
  width: 750px;
  margin-left: auto;
  margin-right: auto;
}

/* line 163, ../sass/style.scss */
.blogTitle, .portfolioTitle {
  float: left;
  width: 100px;
  text-decoration: underline;
  font-size: 5px;
}

/* line 170, ../sass/style.scss */
.blogTitle p, .portfolioTitle p {
  text-decoration: underline;
  font-size: 12px;
}

/* line 174, ../sass/style.scss */
#blogSlider, #portfolioSlider {
  width: 730px;
  height: 77px;
  top: 4px;
}

/* line 175, ../sass/style.scss */
.sm {
  width: 650px;
  float: left;
  list-style: none;
  height: 100px;
  display: block;
  overflow: hidden;
  transition: position 0.5s;
}

/* line 185, ../sass/style.scss */
.sm li {
  padding: 5px 10px 5px 10px;
  float: left;
  display: inline;
  overflow: hidden;
  width: 17%;
  border-left: solid 1px #616232;
  border-right: solid 1px #25260d;
  transition: width 0.5s;
  -moz-transition: width 0.5s;
  /* Firefox 4 */
  -webkit-transition: width 0.5s;
  /* Safari and Chrome */
  -o-transition: width 0.5s;
  /* Opera */
}

/* line 199, ../sass/style.scss */
.sm li:first-child {
  border-left: none;
}

/* line 202, ../sass/style.scss */
.sm li:last-child {
  border-right: none;
}

/* line 206, ../sass/style.scss */
.blogTitle, .portfolioTitle {
  float: left;
  width: 100px;
  padding: 0px;
}

/* line 207, ../sass/style.scss */
.blogDescription, .portfolioDescription {
  margin-left: 140px;
  width: 140px;
}

/* line 208, ../sass/style.scss */
#blogNav, #portfolioNav {
  display: inline;
}

/* line 211, ../sass/style.scss */
#blogNavForward, #portfolioNavForward {
  float: right;
}

/* line 214, ../sass/style.scss */
#blogNavBack, #portfolioNavBack {
  float: left;
}
