/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import tahis file using the following HTML or equivalent:
 * <link href="/stylesheets/screden.css" media="screen, projection" rel="stylesheet" type="text/css" /> ds*/
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* _________________________________________________

320 and Up boilerplate extension
Andy Clarke http://about.me/malarkey
Version: 2
URL: http://stuffandnonsense.co.uk/projects/320andup/
License: http://creativecommons.org/licenses/MIT/
_____________________________________________________

1 ROOT
2 HEADINGS
3 TYPOGRAPHY
4 LINKS
5 FIGURES & IMAGES
6 TABLES
7 FORMS
8 BANNER
9 NAVIGATION
10 CONTENT
11 MAIN
12 COMPLEMENTARY
13 CONTENTINFO
14 GLOBAL OBJECTS
15 VENDOR-SPECIFIC 
16 MODERNIZR
17 TEMPLATE SPECIFICS
18 MEDIA QUERIES

COLOURS 

*/
/* line 32, ../sass/_boilerplate.scss */
html, body {
  margin: 0;
  padding: 0;
}

/* line 83, ../sass/_boilerplate.scss */
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
cite,
code,
del,
dfn,
em,
img,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dd,
dl,
dt,
li,
ol,
ul,
fieldset,
form,
label,
legend,
button,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  font-style: normal;
  font-size: 100%;
  line-height: 1;
  font-family: inherit;
}

/* line 102, ../sass/_boilerplate.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}

/* line 105, ../sass/_boilerplate.scss */
audio[controls], canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

@font-face {
  font-family: 'BonvenoCFLight';
  src: url("../fonts/BonvenoCF-Light-webfont.eot");
  src: url("../fonts/BonvenoCF-Light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/BonvenoCF-Light-webfont.woff") format("woff"), url("../fonts/BonvenoCF-Light-webfont.ttf") format("truetype"), url("../fonts/BonvenoCF-Light-webfont.svg#BonvenoCFLight") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* 320 and Up _________________________________________________

320 and Up
Andy Clarke http://about.me/malarkey
LESS Version: 2
URL: http://stuffandnonsense.co.uk/projects/320andup/
License: http://creativecommons.org/licenses/MIT/

Includes:


__________________________________________________________ */
/* line 136, ../sass/_boilerplate.scss */
.sans-serif {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* line 139, ../sass/_boilerplate.scss */
.serif {
  font-family: "Cambria, Georgia, Times, " Times New Roman;
}

/* line 142, ../sass/_boilerplate.scss */
.monospace {
  font-family: "Monaco", Courier New, monospace;
}

/* line 145, ../sass/_boilerplate.scss */
.clearfix {
  zoom: 1;
}

/* line 148, ../sass/_boilerplate.scss */
.clearfix:before, .clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}

/* line 154, ../sass/_boilerplate.scss */
.clearfix:after {
  clear: both;
}

/* line 157, ../sass/_boilerplate.scss */
html {
  overflow-y: scroll;
  background: #ffffff;
  /*  background: #ffffff url(../img/tmp/grid.png) repeat-y 50% 0;*/
  font-size: 62.5%;
}

/* line 163, ../sass/_boilerplate.scss */
body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  /* 252px; */
  font-size: 16px;
  font-size: 1.6rem;
  font-family: "Cambria, Georgia, Times, " Times New Roman;
  color: #282828;
  background-color: transparent;
}

/* line 178, ../sass/_boilerplate.scss */
button,
input,
select,
textarea {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #404040;
}

/* line 187, ../sass/_boilerplate.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
}

/* line 191, ../sass/_boilerplate.scss */
h1 {
  margin-bottom: 0.75em;
  font-size: 48px;
  font-size: 4.8rem;
  line-height: 1.2;
}

/* line 197, ../sass/_boilerplate.scss */
h2 {
  margin-bottom: 0.75em;
  font-size: 32px;
  font-size: 3.2rem;
  line-height: 1.2;
}

/* line 203, ../sass/_boilerplate.scss */
h3 {
  margin-bottom: 1em;
  font-size: 24px;
  font-size: 2.4rem;
  line-height: 1.3;
}

/* line 209, ../sass/_boilerplate.scss */
h4 {
  margin-bottom: 1em;
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 1.25;
}

/* line 215, ../sass/_boilerplate.scss */
h5 {
  margin-bottom: 1.5em;
  font-size: 16px;
  font-size: 1.6rem;
}

/* line 220, ../sass/_boilerplate.scss */
h6 {
  font-size: 16px;
  font-size: 1.6rem;
}

/* line 228, ../sass/_boilerplate.scss */
p,
ol,
ul,
dl,
address {
  margin-bottom: 1.5em;
  font-size: 16px;
  font-size: 1.6rem;
}

/* line 233, ../sass/_boilerplate.scss */
p {
  hyphens: auto;
  text-align: justify;
}

/* line 237, ../sass/_boilerplate.scss */
ul, ol {
  margin: 0 0 1.5em 0px;
  padding: 0 0 0 0px;
}

/* line 241, ../sass/_boilerplate.scss */
li ul, li ol {
  margin: 0;
  font-size: 16px;
  font-size: 1.6rem;
}

/* line 246, ../sass/_boilerplate.scss */
dl, dd {
  margin-bottom: 1.5em;
}

/* line 249, ../sass/_boilerplate.scss */
dt {
  font-weight: normal;
}

/* line 252, ../sass/_boilerplate.scss */
blockquote {
  margin: 0 0 1.5em -24px;
  padding-left: 24px;
  border-left: 1px solid #bfbfbf;
  font-style: italic;
}

/* line 261, ../sass/_boilerplate.scss */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

/* line 265, ../sass/_boilerplate.scss */
abbr[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

/* line 269, ../sass/_boilerplate.scss */
b, strong {
  font-weight: bold;
}

/* line 272, ../sass/_boilerplate.scss */
dfn {
  font-style: italic;
}

/* line 275, ../sass/_boilerplate.scss */
hr {
  display: block;
  margin: 1em 0;
  padding: 0;
  height: 1px;
  border: 0;
  border-top: 1px solid #bfbfbf;
}

/* line 283, ../sass/_boilerplate.scss */
ins {
  background-color: #c3d9e6;
  color: #000000;
  text-decoration: none;
}

/* line 288, ../sass/_boilerplate.scss */
mark {
  background-color: #c3d9e6;
  color: #000000;
  font-style: italic;
  font-weight: bold;
}

/* line 297, ../sass/_boilerplate.scss */
pre,
code,
kbd,
samp {
  font-family: "Monaco", Courier New, monospace;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1.5em;
}

/* line 303, ../sass/_boilerplate.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 308, ../sass/_boilerplate.scss */
q {
  quotes: none;
}

/* line 311, ../sass/_boilerplate.scss */
q:before, q:after {
  content: "";
  content: none;
}

/* line 315, ../sass/_boilerplate.scss */
small {
  font-size: 14px;
  font-size: 1.4rem;
}

/* line 319, ../sass/_boilerplate.scss */
sub, sup {
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 326, ../sass/_boilerplate.scss */
sup {
  top: -0.5em;
}

/* line 329, ../sass/_boilerplate.scss */
sub {
  bottom: -0.25em;
}

/* line 332, ../sass/_boilerplate.scss */
a {
  color: #013568;
}

/* line 335, ../sass/_boilerplate.scss */
a:visited {
  color: #011b35;
}

/* line 338, ../sass/_boilerplate.scss */
a:hover {
  color: #011b35;
}

/* line 341, ../sass/_boilerplate.scss */
a:focus {
  outline: thin dotted;
  color: #011b35;
}

/* line 345, ../sass/_boilerplate.scss */
a:hover, a:active {
  outline: 0;
}

/* line 348, ../sass/_boilerplate.scss */
figure {
  margin-bottom: 1.5em;
}

/* line 351, ../sass/_boilerplate.scss */
figure img, figure object, figure embed {
  margin-bottom: 0.75em;
  max-width: 100%;
}

/* line 355, ../sass/_boilerplate.scss */
figcaption {
  display: block;
  font-weight: normal;
}

/* line 359, ../sass/_boilerplate.scss */
img {
  border: 0;
}

/* line 362, ../sass/_boilerplate.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 365, ../sass/_boilerplate.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 1.5em;
  width: 100%;
  font-size: 14px;
  font-size: 1.4rem;
}

/* line 373, ../sass/_boilerplate.scss */
th, td, caption {
  padding: 0.1875em 10px 0.1875em 5px;
}

/* line 376, ../sass/_boilerplate.scss */
tfoot {
  font-style: italic;
}

/* line 379, ../sass/_boilerplate.scss */
caption {
  background-color: transparent;
}

/* line 382, ../sass/_boilerplate.scss */
tbody tr:nth-child(odd) td {
  background-color: #c3d9e6;
}

/* line 385, ../sass/_boilerplate.scss */
form {
  margin: 0;
}

/* line 388, ../sass/_boilerplate.scss */
fieldset {
  margin-bottom: 1.5em;
  padding: 0;
  border-width: 0;
}

/* line 393, ../sass/_boilerplate.scss */
legend {
  *margin-left: -7px;
  padding: 0;
  border-width: 0;
}

/* line 398, ../sass/_boilerplate.scss */
label {
  font-weight: normal;
  cursor: pointer;
}

/* line 405, ../sass/_boilerplate.scss */
button,
input,
select,
textarea {
  font-size: 12px;
  font-size: 1.2rem;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

/* line 412, ../sass/_boilerplate.scss */
button, input {
  line-height: normal;
  *overflow: visible;
}

/* line 419, ../sass/_boilerplate.scss */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
}

/* line 422, ../sass/_boilerplate.scss */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
}

/* line 425, ../sass/_boilerplate.scss */
input[type="search"] {
  box-sizing: content-box;
}

/* line 428, ../sass/_boilerplate.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

/* line 432, ../sass/_boilerplate.scss */
textarea {
  overflow: auto;
  vertical-align: top;
}

/* line 436, ../sass/_boilerplate.scss */
html {
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: #c3d9e6;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 442, ../sass/_boilerplate.scss */
::-webkit-selection {
  background: #e6e6e6;
  color: #fafafa;
  text-shadow: none;
}

/* line 447, ../sass/_boilerplate.scss */
::-moz-selection {
  background: #7bacc8;
  color: #c8977b;
  text-shadow: none;
}

/* line 452, ../sass/_boilerplate.scss */
::selection {
  background: #7bacc8;
  color: #c8977b;
  text-shadow: none;
}

/* line 460, ../sass/_boilerplate.scss */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
}

/* line 463, ../sass/_boilerplate.scss */
::-webkit-input-placeholder {
  font-size: 14px;
  font-size: 1.4rem;
}

/* line 467, ../sass/_boilerplate.scss */
input:-moz-placeholder {
  font-size: 14px;
  font-size: 1.4rem;
}

/* line 471, ../sass/_boilerplate.scss */
.ie7 img, .iem7 img {
  -ms-interpolation-mode: bicubic;
}

/* line 474, ../sass/_boilerplate.scss */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
}

/* line 477, ../sass/_boilerplate.scss */
input[type="search"] {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
}

/* line 481, ../sass/_boilerplate.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

/* line 485, ../sass/_boilerplate.scss */
p {
  -webkit-hyphens: auto;
  -webkit-hyphenate-character: "\2010";
  -webkit-hyphenate-limit-after: 1;
  -webkit-hyphenate-limit-before: 3;
  -moz-hyphens: auto;
}

/* line 492, ../sass/_boilerplate.scss */
.ir {
  display: block;
  overflow: hidden;
  background-repeat: no-repeat;
  text-align: left;
  text-indent: -999em;
  direction: ltr;
}

/* line 500, ../sass/_boilerplate.scss */
.ir br {
  display: none;
}

/* line 503, ../sass/_boilerplate.scss */
.hidden {
  display: none;
  visibility: hidden;
}

/* line 507, ../sass/_boilerplate.scss */
.visuallyhidden {
  position: absolute;
  margin: -1px;
  padding: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

/* line 517, ../sass/_boilerplate.scss */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  position: static;
  margin: 0;
  height: auto;
  width: auto;
  overflow: visible;
  clip: auto;
}

/* line 525, ../sass/_boilerplate.scss */
.invisible {
  visibility: hidden;
}

/* 17 TEMPLATE SPECIFICS ============================================================================= */
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 20, ../sass/style.scss */
html {
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(3%, rgba(0, 0, 0, 0.25)), color-stop(20%, rgba(0, 0, 0, 0.1)), color-stop(50%, rgba(0, 0, 0, 0)), color-stop(80%, rgba(0, 0, 0, 0.1)), color-stop(97%, rgba(0, 0, 0, 0.25))), url("../img/h/html_bg_2.png"), url("../img/h/html_bg_1.jpg");
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.25) 3%, rgba(0, 0, 0, 0.1) 20%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.1) 80%, rgba(0, 0, 0, 0.25) 97%), url("../img/h/html_bg_2.png"), url("../img/h/html_bg_1.jpg");
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0.25) 3%, rgba(0, 0, 0, 0.1) 20%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.1) 80%, rgba(0, 0, 0, 0.25) 97%), url("../img/h/html_bg_2.png"), url("../img/h/html_bg_1.jpg");
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.25) 3%, rgba(0, 0, 0, 0.1) 20%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.1) 80%, rgba(0, 0, 0, 0.25) 97%), url("../img/h/html_bg_2.png"), url("../img/h/html_bg_1.jpg");
  background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0.25) 3%, rgba(0, 0, 0, 0.1) 20%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.1) 80%, rgba(0, 0, 0, 0.25) 97%), url("../img/h/html_bg_2.png"), url("../img/h/html_bg_1.jpg");
  background-image: linear-gradient(left, rgba(0, 0, 0, 0.25) 3%, rgba(0, 0, 0, 0.1) 20%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.1) 80%, rgba(0, 0, 0, 0.25) 97%), url("../img/h/html_bg_2.png"), url("../img/h/html_bg_1.jpg");
  background-position: center top, left top;
  background-repeat: repeat-y,;
  font: 0.727 "BonvenoCFLight", Arial, sans-serif;
  letter-spacing: 0;
  color: #fbf8e8;
}

/* line 29, ../sass/style.scss */
h1 {
  font: 28px/36px "BonvenoCFLight", Arial, sans-serif;
  letter-spacing: 0;
  color: #fbf8e8;
  font-variant: small-caps;
  text-shadow: #111 3px 3px 3px;
  margin-bottom: 0px;
}
/* line 35, ../sass/style.scss */
h1:nth-character(8) {
  letter-spacing: 50;
}

/* line 39, ../sass/style.scss */
h2 {
  font: 40px/48px "BonvenoCFLight", Arial, sans-serif;
  letter-spacing: 0;
  color: #fbf8e8;
  font-variant: small-caps;
  text-shadow: #111 2px 2px 3px;
}

/* line 46, ../sass/style.scss */
h3 {
  font: 30px/38px "BonvenoCFLight", Arial, sans-serif;
  letter-spacing: 0;
  color: #fbf8e8;
  font-variant: small-caps;
  text-shadow: #111 1px 1px 2px;
}

/* line 54, ../sass/style.scss */
h4 {
  font: 15px/20px "BonvenoCFLight", Arial, sans-serif;
  letter-spacing: 0;
  color: #fbf8e8;
}

/* line 60, ../sass/style.scss */
h5 {
  font: 10px/18px "BonvenoCFLight", Arial, sans-serif;
  letter-spacing: 0;
  color: #fbf8e8;
}

/* line 66, ../sass/style.scss */
div {
  font: 16px/18px "BonvenoCFLight", Arial, sans-serif;
  letter-spacing: 0;
  color: #fbf8e8;
}

/* line 71, ../sass/style.scss */
p {
  font: 0.727 "BonvenoCFLight", Arial, sans-serif;
  line-height: 22px;
  color: #fbf8e8;
  text-align: left;
}

/* line 80, ../sass/style.scss */
.dark {
  color: #191817;
  text-shadow: #111 1px 1px 2px;
}

/* line 85, ../sass/style.scss */
a {
  text-decoration: none;
  text-shadow: 2px 2px 2px #000;
  -webkit-transition-property: color;
  -moz-transition-property: color;
  -ms-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

/* line 92, ../sass/style.scss */
input {
  cursor: pointer;
  padding: 3px 5px;
  font: 15px/20px "BonvenoCFLight", Arial, sans-serif;
  letter-spacing: 0;
  color: #fbf8e8;
  margin: 0;
  background: #F4F4F4;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(10%, #807d67), color-stop(20%, #85816b), color-stop(90%, #969178));
  background-image: -webkit-linear-gradient(top, #807d67 10%, #85816b 20%, #969178 90%);
  background-image: -moz-linear-gradient(top, #807d67 10%, #85816b 20%, #969178 90%);
  background-image: -o-linear-gradient(top, #807d67 10%, #85816b 20%, #969178 90%);
  background-image: -ms-linear-gradient(top, #807d67 10%, #85816b 20%, #969178 90%);
  background-image: linear-gradient(top, #807d67 10%, #85816b 20%, #969178 90%);
  border: 1px solid #8a866f;
  border-bottom: 1px solid #c6c09f;
  border-top: 1px solid #5a5748;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  width: 55%;
  margin-bottom: 10px;
}

/* line 108, ../sass/style.scss */
hr {
  margin-top: 0.5em;
}

/* line 112, ../sass/style.scss */
label {
  width: 37%;
  padding: 6px 10px 0 0;
  text-align: right;
  float: left;
}

/* line 119, ../sass/style.scss */
textarea {
  cursor: pointer;
  padding: 3px 5px;
  font: 12px/15px "BonvenoCFLight", Arial, sans-serif;
  letter-spacing: 0;
  color: #fbf8e8;
  margin: 0;
  background: #F4F4F4;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(10%, #807d67), color-stop(20%, #85816b), color-stop(90%, #969178));
  background-image: -webkit-linear-gradient(top, #807d67 10%, #85816b 20%, #969178 90%);
  background-image: -moz-linear-gradient(top, #807d67 10%, #85816b 20%, #969178 90%);
  background-image: -o-linear-gradient(top, #807d67 10%, #85816b 20%, #969178 90%);
  background-image: -ms-linear-gradient(top, #807d67 10%, #85816b 20%, #969178 90%);
  background-image: linear-gradient(top, #807d67 10%, #85816b 20%, #969178 90%);
  border: 1px solid #8a866f;
  border-bottom: 1px solid #c6c09f;
  border-top: 1px solid #5a5748;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  width: 55%;
  height: 100px;
  margin-top: 10px;
}

/* line 140, ../sass/style.scss */
button {
  cursor: pointer;
  padding: 3px 5px;
  font: 15px/20px "BonvenoCFLight", Arial, sans-serif;
  letter-spacing: 0;
  color: #fbf8e8;
  margin: 20px 0 0 38%;
  background: #787746;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #787746), color-stop(100%, #605f38));
  background-image: -webkit-linear-gradient(top, #787746, #605f38);
  background-image: -moz-linear-gradient(top, #787746, #605f38);
  background-image: -o-linear-gradient(top, #787746, #605f38);
  background-image: -ms-linear-gradient(top, #787746, #605f38);
  background-image: linear-gradient(top, #787746, #605f38);
  border: 1px solid #8a866f;
  border-bottom: 1px solid #5a5748;
  border-top: 1px solid #c6c09f;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  width: 58%;
  height: 40px;
}
/* line 158, ../sass/style.scss */
button:hover {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #727142), color-stop(100%, #787746));
  background-image: -webkit-linear-gradient(top, #727142, #787746);
  background-image: -moz-linear-gradient(top, #727142, #787746);
  background-image: -o-linear-gradient(top, #727142, #787746);
  background-image: -ms-linear-gradient(top, #727142, #787746);
  background-image: linear-gradient(top, #727142, #787746);
}

/* line 163, ../sass/style.scss */
footer {
  position: absolute;
  bottom: 0px;
  left: 5px;
}
/* line 167, ../sass/style.scss */
footer p {
  margin: 0;
  padding: 0;
  color: #7d7c74;
  font-size: 11.2px;
}

/* line 175, ../sass/style.scss */
#header {
  background-color: #c03000;
}

/* line 180, ../sass/style.scss */
#about {
  background-color: #32331d;
}

/* line 184, ../sass/style.scss */
#blog {
  background-color: #40411e;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(3%, rgba(0, 0, 0, 0.2)), color-stop(20%, rgba(0, 0, 0, 0.1)), color-stop(50%, rgba(0, 0, 0, 0)), color-stop(80%, rgba(0, 0, 0, 0.1)), color-stop(97%, rgba(0, 0, 0, 0.2))), url("../img/h/nav_grad_top.png"), url("../img/h/nav_texture.png"), url("../img/h/sub_nav_background_3.jpg");
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.2) 3%, rgba(0, 0, 0, 0.1) 20%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.1) 80%, rgba(0, 0, 0, 0.2) 97%), url("../img/h/nav_grad_top.png"), url("../img/h/nav_texture.png"), url("../img/h/sub_nav_background_3.jpg");
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0.2) 3%, rgba(0, 0, 0, 0.1) 20%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.1) 80%, rgba(0, 0, 0, 0.2) 97%), url("../img/h/nav_grad_top.png"), url("../img/h/nav_texture.png"), url("../img/h/sub_nav_background_3.jpg");
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.2) 3%, rgba(0, 0, 0, 0.1) 20%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.1) 80%, rgba(0, 0, 0, 0.2) 97%), url("../img/h/nav_grad_top.png"), url("../img/h/nav_texture.png"), url("../img/h/sub_nav_background_3.jpg");
  background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0.2) 3%, rgba(0, 0, 0, 0.1) 20%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.1) 80%, rgba(0, 0, 0, 0.2) 97%), url("../img/h/nav_grad_top.png"), url("../img/h/nav_texture.png"), url("../img/h/sub_nav_background_3.jpg");
  background-image: linear-gradient(left, rgba(0, 0, 0, 0.2) 3%, rgba(0, 0, 0, 0.1) 20%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.1) 80%, rgba(0, 0, 0, 0.2) 97%), url("../img/h/nav_grad_top.png"), url("../img/h/nav_texture.png"), url("../img/h/sub_nav_background_3.jpg");
  background-repeat: repeat-x, repeat-x, repeat;
  background-position: left top, left top, left top, left 74px;
  text-align: left;
}
/* line 190, ../sass/style.scss */
#blog a {
  color: #ff4100;
}
/* line 192, ../sass/style.scss */
#blog a:hover {
  color: #ff7b4e;
  text-decoration: underline;
}

/* line 199, ../sass/style.scss */
#portfolio {
  background-color: #787746;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(3%, rgba(0, 0, 0, 0.2)), color-stop(20%, rgba(0, 0, 0, 0.1)), color-stop(50%, rgba(0, 0, 0, 0)), color-stop(80%, rgba(0, 0, 0, 0.1)), color-stop(97%, rgba(0, 0, 0, 0.2))), url("../img/h/nav_grad_top.png"), url("../img/h/nav_texture.png"), url("../img/h/sub_nav_background_3.jpg");
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.2) 3%, rgba(0, 0, 0, 0.1) 20%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.1) 80%, rgba(0, 0, 0, 0.2) 97%), url("../img/h/nav_grad_top.png"), url("../img/h/nav_texture.png"), url("../img/h/sub_nav_background_3.jpg");
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0.2) 3%, rgba(0, 0, 0, 0.1) 20%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.1) 80%, rgba(0, 0, 0, 0.2) 97%), url("../img/h/nav_grad_top.png"), url("../img/h/nav_texture.png"), url("../img/h/sub_nav_background_3.jpg");
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.2) 3%, rgba(0, 0, 0, 0.1) 20%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.1) 80%, rgba(0, 0, 0, 0.2) 97%), url("../img/h/nav_grad_top.png"), url("../img/h/nav_texture.png"), url("../img/h/sub_nav_background_3.jpg");
  background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0.2) 3%, rgba(0, 0, 0, 0.1) 20%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.1) 80%, rgba(0, 0, 0, 0.2) 97%), url("../img/h/nav_grad_top.png"), url("../img/h/nav_texture.png"), url("../img/h/sub_nav_background_3.jpg");
  background-image: linear-gradient(left, rgba(0, 0, 0, 0.2) 3%, rgba(0, 0, 0, 0.1) 20%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.1) 80%, rgba(0, 0, 0, 0.2) 97%), url("../img/h/nav_grad_top.png"), url("../img/h/nav_texture.png"), url("../img/h/sub_nav_background_3.jpg");
  background-repeat: repeat-x, repeat-x, repeat;
  background-position: left top, left top, left top, left 74px;
}
/* line 204, ../sass/style.scss */
#portfolio a {
  color: #ff5f29 !important;
}
/* line 206, ../sass/style.scss */
#portfolio a:hover {
  color: #ff4100 !important;
  text-decoration: underline;
}

/* line 213, ../sass/style.scss */
#contact {
  background-color: #b4af91;
}

/* line 219, ../sass/style.scss */
article ul, article ul li, article ul li ul, article ul li ul li {
  font: 14px/20px "BonvenoCFLight", Arial, sans-serif;
  color: #fbf8e8;
  text-align: left;
  list-style: circle;
  margin-left: 10px;
}
/* line 226, ../sass/style.scss */
article a {
  text-shadow: 1px 1px 1px #000;
  color: #ff5f29 !important;
}
/* line 229, ../sass/style.scss */
article a:hover {
  color: #ff4100 !important;
  text-decoration: underline;
}

/* line 250, ../sass/style.scss */
body #content {
  position: relative;
  margin: 50px auto 0;
}

/* line 341, ../sass/style.scss */
section {
  width: 100%;
  -moz-box-shadow: 0px 10px 30px #111;
  -webkit-box-shadow: 0px 10px 30px #111;
  box-shadow: 0px 10px 30px #111;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(3%, rgba(0, 0, 0, 0.2)), color-stop(20%, rgba(0, 0, 0, 0.1)), color-stop(50%, rgba(0, 0, 0, 0)), color-stop(80%, rgba(0, 0, 0, 0.1)), color-stop(97%, rgba(0, 0, 0, 0.2))), url("../img/h/nav_grad_top.png"), url("../img/h/nav_texture.png");
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.2) 3%, rgba(0, 0, 0, 0.1) 20%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.1) 80%, rgba(0, 0, 0, 0.2) 97%), url("../img/h/nav_grad_top.png"), url("../img/h/nav_texture.png");
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0.2) 3%, rgba(0, 0, 0, 0.1) 20%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.1) 80%, rgba(0, 0, 0, 0.2) 97%), url("../img/h/nav_grad_top.png"), url("../img/h/nav_texture.png");
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.2) 3%, rgba(0, 0, 0, 0.1) 20%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.1) 80%, rgba(0, 0, 0, 0.2) 97%), url("../img/h/nav_grad_top.png"), url("../img/h/nav_texture.png");
  background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0.2) 3%, rgba(0, 0, 0, 0.1) 20%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.1) 80%, rgba(0, 0, 0, 0.2) 97%), url("../img/h/nav_grad_top.png"), url("../img/h/nav_texture.png");
  background-image: linear-gradient(left, rgba(0, 0, 0, 0.2) 3%, rgba(0, 0, 0, 0.1) 20%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.1) 80%, rgba(0, 0, 0, 0.2) 97%), url("../img/h/nav_grad_top.png"), url("../img/h/nav_texture.png");
  background-repeat: repeat, repeat-x, repeat;
  background-position: left top, left top, left top;
  padding: 1px;
}
/* line 351, ../sass/style.scss */
section header {
  height: 100%;
  padding: 0px 10px 0px 10px;
  margin-bottom: 0px;
  cursor: pointer;
  font-weight: bold;
}
/* line 357, ../sass/style.scss */
section header h1, section header h2, section header h4 {
  width: 310px;
  padding: 10px 0 0 0;
  margin-bottom: 14px;
  margin-left: auto;
  margin-right: auto;
}
/* line 364, ../sass/style.scss */
section header h1 + h4 {
  padding: 0;
}
/* line 367, ../sass/style.scss */
section header .headerTools {
  width: 250px;
  position: relative;
  right: -100px;
  margin: -53px auto 0px auto;
}
/* line 373, ../sass/style.scss */
section header .headerTools .search {
  width: 150px;
}
/* line 378, ../sass/style.scss */
section header .headerTools .menuButton {
  display: inline;
  width: 46px;
  height: 44px;
  margin: 0;
  background-repeat: no-repeat;
  background-position: center center;
}
/* line 388, ../sass/style.scss */
section header .headerTools .searchButton {
  display: inline;
  width: 46px;
  height: 44px;
  margin: 0;
  background-repeat: no-repeat;
  background-position: center center;
}
/* line 400, ../sass/style.scss */
section nav {
  width: 280px;
  height: 400px;
  overflow: auto;
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  margin: -70px auto 0 auto;
  padding: 20px;
  display: block;
  z-index: 1000;
  cursor: pointer;
  color: #fbf8e8;
  background: #fbf8e8;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fbf8e8), color-stop(100%, #c8c6b9));
  background-image: -webkit-linear-gradient(top, #fbf8e8, #c8c6b9);
  background-image: -moz-linear-gradient(top, #fbf8e8, #c8c6b9);
  background-image: -o-linear-gradient(top, #fbf8e8, #c8c6b9);
  background-image: -ms-linear-gradient(top, #fbf8e8, #c8c6b9);
  background-image: linear-gradient(top, #fbf8e8, #c8c6b9);
  border: 1px solid #bcbaae;
  border-bottom: 1px solid #3e3e3a;
  border-top: 1px solid white;
  background-image: url("../img/h/nav_texture.png");
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  border: 5px solid rgba(0, 0, 0, 0.7);
  box-shadow: 0px 0px 50px #000;
}
/* line 420, ../sass/style.scss */
section nav > ul {
  -webkit-column-count: 1;
  -moz-column-count: 1;
  -o-column-count: 1;
  column-count: 1;
}
/* line 424, ../sass/style.scss */
section nav ul {
  text-align: left;
}
/* line 429, ../sass/style.scss */
section nav ul li {
  -webkit-transition-property: background-color;
  -moz-transition-property: background-color;
  -ms-transition-property: background-color;
  -o-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  text-align: left;
  padding: 5px 5px;
  font: 12px/14px "BonvenoCFLight", Arial, sans-serif;
  color: #666;
}
/* line 437, ../sass/style.scss */
section nav ul li:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
/* line 440, ../sass/style.scss */
section nav ul li a {
  color: #666 !important;
  text-shadow: none;
}
/* line 443, ../sass/style.scss */
section nav ul li a:hover {
  text-decoration: none;
}
/* line 447, ../sass/style.scss */
section nav ul li ul {
  text-align: left;
  padding-top: 3px;
}
/* line 450, ../sass/style.scss */
section nav ul li ul li {
  font: 9px/14px "BonvenoCFLight", Arial, sans-serif;
  display: inline;
  padding: 1px 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
/* line 456, ../sass/style.scss */
section nav ul li ul li.Development {
  cursor: pointer;
  color: #fbf8e8;
  background: #454526;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #454526), color-stop(100%, #37371e));
  background-image: -webkit-linear-gradient(top, #454526, #37371e);
  background-image: -moz-linear-gradient(top, #454526, #37371e);
  background-image: -o-linear-gradient(top, #454526, #37371e);
  background-image: -ms-linear-gradient(top, #454526, #37371e);
  background-image: linear-gradient(top, #454526, #37371e);
  border: 1px solid #33331c;
  border-bottom: 1px solid #111109;
  border-top: 1px solid #757540;
}
/* line 459, ../sass/style.scss */
section nav ul li ul li.WebGL {
  cursor: pointer;
  color: #fbf8e8;
  background: #5d5c26;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #5d5c26), color-stop(100%, #4a491e));
  background-image: -webkit-linear-gradient(top, #5d5c26, #4a491e);
  background-image: -moz-linear-gradient(top, #5d5c26, #4a491e);
  background-image: -o-linear-gradient(top, #5d5c26, #4a491e);
  background-image: -ms-linear-gradient(top, #5d5c26, #4a491e);
  background-image: linear-gradient(top, #5d5c26, #4a491e);
  border: 1px solid #45451c;
  border-bottom: 1px solid #171709;
  border-top: 1px solid #9e9c40;
}
/* line 462, ../sass/style.scss */
section nav ul li ul li.Artwork {
  cursor: pointer;
  color: #fbf8e8;
  background: #636323;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #636323), color-stop(100%, #4f4f1c));
  background-image: -webkit-linear-gradient(top, #636323, #4f4f1c);
  background-image: -moz-linear-gradient(top, #636323, #4f4f1c);
  background-image: -o-linear-gradient(top, #636323, #4f4f1c);
  background-image: -ms-linear-gradient(top, #636323, #4f4f1c);
  background-image: linear-gradient(top, #636323, #4f4f1c);
  border: 1px solid #4a4a1a;
  border-bottom: 1px solid #181808;
  border-top: 1px solid #a8a83b;
}
/* line 465, ../sass/style.scss */
section nav ul li ul li.RasberryPi {
  cursor: pointer;
  color: #fbf8e8;
  background: #72741d;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #72741d), color-stop(100%, #5b5c17));
  background-image: -webkit-linear-gradient(top, #72741d, #5b5c17);
  background-image: -moz-linear-gradient(top, #72741d, #5b5c17);
  background-image: -o-linear-gradient(top, #72741d, #5b5c17);
  background-image: -ms-linear-gradient(top, #72741d, #5b5c17);
  background-image: linear-gradient(top, #72741d, #5b5c17);
  border: 1px solid #555715;
  border-bottom: 1px solid #1c1d07;
  border-top: 1px solid #c1c531;
}
/* line 468, ../sass/style.scss */
section nav ul li ul li.Blender {
  cursor: pointer;
  color: #fbf8e8;
  background: #807718;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #807718), color-stop(100%, #665f13));
  background-image: -webkit-linear-gradient(top, #807718, #665f13);
  background-image: -moz-linear-gradient(top, #807718, #665f13);
  background-image: -o-linear-gradient(top, #807718, #665f13);
  background-image: -ms-linear-gradient(top, #807718, #665f13);
  background-image: linear-gradient(top, #807718, #665f13);
  border: 1px solid #605912;
  border-bottom: 1px solid #201d06;
  border-top: 1px solid #d9ca28;
}
/* line 471, ../sass/style.scss */
section nav ul li ul li.ZBrush {
  cursor: pointer;
  color: #fbf8e8;
  background: #777111;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #777111), color-stop(100%, #5f5a0d));
  background-image: -webkit-linear-gradient(top, #777111, #5f5a0d);
  background-image: -moz-linear-gradient(top, #777111, #5f5a0d);
  background-image: -o-linear-gradient(top, #777111, #5f5a0d);
  background-image: -ms-linear-gradient(top, #777111, #5f5a0d);
  background-image: linear-gradient(top, #777111, #5f5a0d);
  border: 1px solid #59540c;
  border-bottom: 1px solid #1d1c04;
  border-top: 1px solid #cac01c;
}
/* line 477, ../sass/style.scss */
section nav ul li .prev {
  padding: 27px 40px 26px 40px;
  overflow: hidden;
}
/* line 480, ../sass/style.scss */
section nav ul li .prev.button {
  cursor: pointer;
  color: #fbf8e8;
  background: #25260d;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #25260d), color-stop(100%, #1d1e0a));
  background-image: -webkit-linear-gradient(top, #25260d, #1d1e0a);
  background-image: -moz-linear-gradient(top, #25260d, #1d1e0a);
  background-image: -o-linear-gradient(top, #25260d, #1d1e0a);
  background-image: -ms-linear-gradient(top, #25260d, #1d1e0a);
  background-image: linear-gradient(top, #25260d, #1d1e0a);
  border: 1px solid #1b1c09;
  border-bottom: 1px solid #090903;
  border-top: 1px solid #3e4016;
  font: 14px/14px "BonvenoCFLight", Arial, sans-serif;
  color: #fbf8e8;
}
/* line 486, ../sass/style.scss */
section nav ul li .next {
  cursor: pointer;
  color: #fbf8e8;
  background: #25260d;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #25260d), color-stop(100%, #1d1e0a));
  background-image: -webkit-linear-gradient(top, #25260d, #1d1e0a);
  background-image: -moz-linear-gradient(top, #25260d, #1d1e0a);
  background-image: -o-linear-gradient(top, #25260d, #1d1e0a);
  background-image: -ms-linear-gradient(top, #25260d, #1d1e0a);
  background-image: linear-gradient(top, #25260d, #1d1e0a);
  border: 1px solid #1b1c09;
  border-bottom: 1px solid #090903;
  border-top: 1px solid #3e4016;
  padding: 27px 40px 26px 40px;
  overflow: hidden;
}
/* line 490, ../sass/style.scss */
section nav ul li .next.button {
  border-left: solid 1px #616232;
  border-right: solid 1px #25260d;
  font: 14px/14px "BonvenoCFLight", Arial, sans-serif;
  color: #fbf8e8;
}
/* line 501, ../sass/style.scss */
section article {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  -webkit-transition-property: height;
  -moz-transition-property: height;
  -ms-transition-property: height;
  -o-transition-property: height;
  transition-property: height;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -ms-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
/* line 509, ../sass/style.scss */
section div.content {
  width: 100%;
  display: none;
  padding-bottom: 20px;
}
/* line 513, ../sass/style.scss */
section div.content div.search {
  width: 280px;
  height: 30px;
  overflow: auto;
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  margin: -70px auto 0 auto;
  padding: 20px;
  display: none;
  z-index: 1000;
  cursor: pointer;
  color: #fbf8e8;
  background: #fbf8e8;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fbf8e8), color-stop(100%, #c8c6b9));
  background-image: -webkit-linear-gradient(top, #fbf8e8, #c8c6b9);
  background-image: -moz-linear-gradient(top, #fbf8e8, #c8c6b9);
  background-image: -o-linear-gradient(top, #fbf8e8, #c8c6b9);
  background-image: -ms-linear-gradient(top, #fbf8e8, #c8c6b9);
  background-image: linear-gradient(top, #fbf8e8, #c8c6b9);
  border: 1px solid #bcbaae;
  border-bottom: 1px solid #3e3e3a;
  border-top: 1px solid white;
  background-image: url("../img/h/nav_texture.png");
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  border: 5px solid rgba(0, 0, 0, 0.7);
  box-shadow: 0px 0px 50px #000;
}
/* line 530, ../sass/style.scss */
section div.content div.search input {
  margin: 0;
  padding: 0;
  font-size: 28px;
  color: #666;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  background-image: none;
  width: 100%;
  height: 100%;
}
/* line 540, ../sass/style.scss */
section div.content div.search input:focus {
  border: none;
}
/* line 545, ../sass/style.scss */
section div.content article {
  z-index: 1px;
}
/* line 547, ../sass/style.scss */
section div.content article h2 {
  padding-bottom: 20px;
}
/* line 550, ../sass/style.scss */
section div.content article p, section div.content article a {
  font-size: 13.333px;
  line-height: 19.2px;
}

/* line 563, ../sass/style.scss */
section[id="header"] div.content article p.featureLeft {
  background-image: url("../img/h/home_divide_bg.png"), url("../img/h/home_divide_bg.png");
  width: 100%;
  padding: 35px 0 45px 0;
  background-repeat: repeat-x, repeat-x;
  background-position: -8px bottom, -8px top;
}

/* line 571, ../sass/style.scss */
section[id="header"] div.content article p:first-letter {
  font-size: 28px;
}

/* line 575, ../sass/style.scss */
#tree {
  margin: 0 auto;
  text-align: center;
  width: 170px;
}
/* line 580, ../sass/style.scss */
#tree img {
  width: 100%;
}

/* line 585, ../sass/style.scss */
#cv {
  position: relative;
  left: 0px;
  margin: 0 auto;
  text-align: center;
}
/* line 591, ../sass/style.scss */
#cv a:hover {
  text-decoration: none;
}
/* line 593, ../sass/style.scss */
#cv a:hover img {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}
/* line 597, ../sass/style.scss */
#cv a h3 {
  font-size: 24px;
}
/* line 601, ../sass/style.scss */
#cv img {
  height: 75px;
  width: auto;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -ms-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -ms-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
  opacity: 0.2;
  -moz-box-shadow: 0px 5px 15px #111;
  -webkit-box-shadow: 0px 5px 15px #111;
  box-shadow: 0px 5px 15px #111;
}

/* line 614, ../sass/style.scss */
section[id="about"] div.content article p.featureRight {
  background-image: url("../img/h/about_divide_bg.png"), url("../img/h/about_divide_bg.png");
  width: 100%;
  padding: 35px 0 45px 0;
  background-repeat: repeat-x, repeat-x;
  background-position: -8px bottom, -8px top;
  position: relative;
  top: 0;
}

/* line 624, ../sass/style.scss */
section[id="about"] div.content article p:first-letter {
  font-size: 28px;
}

/* line 628, ../sass/style.scss */
section[id="contact"] div.content article {
  height: auto;
}

/* line 632, ../sass/style.scss */
section[id="contact"] div.content article p {
  background-image: url("../img/h/contact_divide_bg.png"), url("../img/h/contact_divide_bg.png");
  width: 100%;
  padding: 35px 0 45px 0;
  background-repeat: repeat-x, repeat-x;
  background-position: -8px bottom, -8px top;
}

/* line 640, ../sass/style.scss */
section[id="contact"] div.content article p:first-letter {
  font-size: 28px;
}

/* line 644, ../sass/style.scss */
section[id="contact"] div.content article form {
  width: 100%;
}

/* line 648, ../sass/style.scss */
section[id="contact"] div.content article form {
  width: 100%;
  padding-top: 10px;
  text-align: center;
  margin: 10px auto;
}

/*/////////////////////////////////////////
section[id="blog"] div.content article p {
	background-image: url("../img/h/blog_divide_bg.png");
}

section[id="portfolio"] div.content article p {
	background-image: url("../img/h/portfolio_divide_bg.png");
}


*/
/* line 667, ../sass/style.scss */
.title {
  width: 100px;
  text-align: center;
  margin: 0 auto;
}
/* line 672, ../sass/style.scss */
.title p {
  text-align: center !important;
  margin: 0 auto;
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 7px;
}

/* line 680, ../sass/style.scss */
.date {
  font-size: 11px;
  line-height: 12px;
}

/* line 686, ../sass/style.scss */
.description p {
  font-size: 12px;
  line-height: 16px;
  margin-top: 0px;
  margin-left: 120px;
  width: 120px;
  text-align: left;
  transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  /* Firefox 4 */
  -webkit-transition: opacity 0.5s;
  /* Safari and Chrome */
  -o-transition: opacity 0.5s;
  /* Opera */
  opacity: 0;
}

/* line 700, ../sass/style.scss */
#blogNav, #portfolioNav {
  display: inline;
}

/* line 703, ../sass/style.scss */
#blogNavForward, #portfolioNavForward {
  float: right;
}

/* line 706, ../sass/style.scss */
#blogNavBack, #portfolioNavBack {
  float: left;
}

/* line 710, ../sass/style.scss */
.preloader {
  margin: 23px 0 0 43px;
}

/* line 714, ../sass/style.scss */
.small-text {
  font-size: 12.8px;
}

/* line 718, ../sass/style.scss */
article {
  position: relative;
}
/* line 720, ../sass/style.scss */
article p {
  text-shadow: 2px 2px 8px #000;
}
/* line 724, ../sass/style.scss */
article div.entryMeta {
  width: 300px;
  text-align: left;
}
/* line 725, ../sass/style.scss */
article div.entryMeta p, article div.entryMeta a {
  font-size: 11px !important;
  margin: 0px;
}

/* line 734, ../sass/style.scss */
#skills {
  -webkit-column-count: 1;
  -moz-column-count: 1;
  -o-column-count: 1;
  column-count: 1;
}
/* line 736, ../sass/style.scss */
#skills li, #skills span {
  color: #fbf8e8;
  -webkit-transition-property: color;
  -moz-transition-property: color;
  -ms-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.7s;
  -moz-transition-duration: 0.7s;
  -ms-transition-duration: 0.7s;
  -o-transition-duration: 0.7s;
  transition-duration: 0.7s;
}
/* line 742, ../sass/style.scss */
#skills:hover .veryOften {
  color: #fbf8e8;
}
/* line 745, ../sass/style.scss */
#skills:hover .often {
  color: #a7a59a;
}
/* line 748, ../sass/style.scss */
#skills:hover .rare {
  color: #53524d;
}

/* line 754, ../sass/style.scss */
figure {
  text-align: center;
  margin: 0 auto 20px auto;
  width: 270px;
  padding: 20px;
  border-right: solid 1px rgba(255, 255, 255, 0.1);
  border-left: solid 1px rgba(0, 0, 0, 0.1);
  border-bottom: solid 1px rgba(255, 255, 255, 0.1);
  border-top: solid 1px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0.2)), color-stop(20%, rgba(0, 0, 0, 0.16)), color-stop(50%, rgba(0, 0, 0, 0.1)), color-stop(80%, rgba(0, 0, 0, 0.06)), color-stop(100%, rgba(0, 0, 0, 0.04)));
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.16) 20%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.06) 80%, rgba(0, 0, 0, 0.04) 100%);
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.16) 20%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.06) 80%, rgba(0, 0, 0, 0.04) 100%);
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.16) 20%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.06) 80%, rgba(0, 0, 0, 0.04) 100%);
  background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.16) 20%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.06) 80%, rgba(0, 0, 0, 0.04) 100%);
  background-image: linear-gradient(top, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.16) 20%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.06) 80%, rgba(0, 0, 0, 0.04) 100%);
}
/* line 765, ../sass/style.scss */
figure iframe {
  width: 250px;
  height: 166px;
}
/* line 769, ../sass/style.scss */
figure img {
  width: 80%;
  padding: 10px;
}
